<script id="result-template" type="text/x-handlebars-template">
  <div>
	<div class="page-header">
		<div class="row-fluid">
			<div class="span9">
				<h2>{{organization}}</h2>
			</div>
			<div class="span3" style="height:40px;padding-top:10px;">
				<a class='btn btn-primary pull-right' href="#home" style="margin:5px"><i class="icon-home icon-white"></i> Home</a>
				<a class="btn btn-primary pull-right" href="#all" style="margin:5px"><i class="icon-list icon-white"></i> All</a>
				<a id="result-back-btn" class="btn btn-primary pull-right" style="margin:5px"><i class="icon-search icon-white"></i> Search</a>
			</div>
		</div>
	</div>
	
	{{#if website}}
		<h4>Website</h4>
		<div class="website">{{website}}</div>
	{{/if}}

	{{#if orgType}}
		<h4>Organization Type</h4>
		<div class="orgType">{{#result-list orgType}}{{/result-list}}</div>
	{{/if}}

	{{#if mission}}
		<h4>Mission</h4>
		<div class="mission">{{mission}}</div>
	{{/if}}

	{{#if contact}}
		<h4>Contact</h4>
		<div class="contact">{{contact}}</div>
	{{/if}}
	
	{{#if geoFocus}}
		<h4>Geographical Focus</h4>
		<div class="geoFocus">{{#result-list geoFocus}}{{/result-list}}</div>
	{{/if}}

	{{#if counties}}
		<h4>Counties Served</h4>
		<div class="counties">{{#result-list counties}}{{/result-list}}</div>
	{{/if}}

	{{#if activities}}
		<h4>Activities</h4>
		<div class="activities">{{#result-list activities}}{{/result-list}}</div>
	{{/if}}

	{{#if topics}}
		<h4>Topics</h4>
		<div class="topics">{{#result-list topics}}{{/result-list}}</div>
	{{/if}}

	{{#if eduResources}}
		<h4>Educational Resources</h4>
		<div class="eduResources">{{#result-list eduResources}}{{/result-list}}</div>
	{{/if}}

    {{#if describeLecture}}
		<h4>Speaker/Lecture Series</h4>
		<div class="describeLecture">{{describeLecture}}</div>
	{{/if}}

	{{#if eduDescription}}
		<h4>Education Programs</h4>
		<div class="eduDescription">{{eduDescription}}</div>
	{{/if}}

	{{#if audiences}}
		<h4>Target Audiences</h4>
		<div class="audiences">{{#result-list audiences}}{{/result-list}}</div>
	{{/if}}

	{{#if languages}}
		<h4>Other Languages</h4>
		<div class="languages">{{languages}}</div>
	{{/if}}
	
	{{#if altLanguageMaterials}}
		<h4>Other Languages Materials</h4>
		<div class="altLanguageMaterials">{{#result-list altLanguageMaterials}}{{/result-list}}</div>
	{{/if}}

	{{#if altLanguageResources}}
		<h4>Description of non-English resource(s)</h4>
		<div class="altLanguageResources">{{altLanguageResources}}</div>
	{{/if}}

	{{#if in_service}}
		<h4>In-Service Training</h4>
		<div class="in_service">{{in_service}}</div>
	{{/if}}

	{{#if groupSize}}
		<h4>Group Size Accommodated</h4>
		<div class="groupSize">{{groupSize}}</div>
	{{/if}}

	{{#if volunteers}}
		<h4>Volunteer Opportunities</h4>
	{{/if}}
	
	{{#each volunteers}}
		<div style="padding: 0 15px 5px 15px" class="volunteers">
			{{#oppTitle}}{{/oppTitle}}

			{{#if description}}
				<h5>Description</h5>
				<div class="volunteers-{{@index}}-description">{{description}}</div>
			{{/if}}

			{{#if timeOfYear}}
				<h5>When Needed</h5>
				<div class="volunteers-{{@index}}-timeOfYear">{{timeOfYear}}</div>
			{{/if}}

			{{#if qualifications}}
				<h5>Qualifications</h5>
				<div class="volunteers-{{@index}}-qualifications">{{qualifications}}</div>
			{{/if}}

			{{#if commitment}}
				<h5>Committment Required</h5>
				<div class="volunteers-{{@index}}-commitment">{{commitment}}</div>
			{{/if}}

			{{#if documentation}}
				<h5>Community Service Documentation</h5>
				<div class="volunteers-{{@index}}-documentation">{{documentation}}</div>
			{{/if}}

			<h5>Contact</h5>
			<div class="volunteers-{{@index}}-contact">
				{{#if contactName}}{{contactName}}<br />{{/if}}
				{{#if contactPhone}}{{contactPhone}}<br />{{/if}}
				{{#if contactEmail}}{{contactEmail}}<br />{{/if}}
			</div>

		</div>
	{{/each}}

	{{#if internships}}
		<h4>Internship Opportunities</h4>
	{{/if}}
	{{#each internships}}
		<div style="padding: 0 15px 5px 15px">
			{{#oppTitle}}{{/oppTitle}}

			{{#if description}}
				<h5>Description</h5>
				<div class="internships-{{@index}}-description">{{description}}</div>
			{{/if}}

			{{#if timeOfYear}}
				<h5>When Needed</h5>
				<div class="internships-{{@index}}-timeOfYear">{{timeOfYear}}</div>
			{{/if}}

			{{#if qualifications}}
				<h5>Qualifications</h5>
				<div class="internships-{{@index}}-qualifications">{{qualifications}}</div>
			{{/if}}

			{{#if applicationProcedure}}
				<h5>Application</h5>
				<div class="internships-{{@index}}-applicationProcedure">{{applicationProcedure}}</div>
			{{/if}}

			{{#if numberAvailable}}
				<h5>Number of Interns</h5>
				<div class="internships-{{@index}}-numberAvailable">{{numberAvailable}}</div>
			{{/if}}

			{{#if housingProvided}}
				<h5>Housing Provided</h5>
				<div class="internships-{{@index}}-housingProvided">{{housingProvided}}</div>
			{{/if}}

			{{#if paid}}
				<h5>Paid</h5>
				<div class="internships-{{@index}}-housingProvided">{{paid}}</div>
			{{/if}}
			
			{{#if stipend}}
				<h5>Stipend</h5>
				<div class="internships-{{@index}}-stipend">{{stipend}}</div>
			{{/if}}
			
			{{#if academicCredit}}
				<h5>Credit</h5>
				<div class="internships-{{@index}}-academicCredit">{{academicCredit}}</div>
			{{/if}}

			<h5>Contact</h5>
			<div class="internships-{{@index}}-contact">
				{{#if contactName}}{{contactName}}<br />{{/if}}
				{{#if contactPhone}}{{contactPhone}}<br />{{/if}}
				{{#if contactEmail}}{{contactEmail}}<br />{{/if}}
			</div>

		</div>
	{{/each}}

	{{#if facilities}}
		<h4>General Services</h4>
		{{#result-list facilities}}{{/result-list}}
	{{/if}}

	<div style='text-align:center'>
		<a class="btn btn-primary" style="margin:5px" href="/edit.html?_id={{_id}}"><i class="icon-edit icon-white"></i> Edit Record</a>
	</div>
  </div>
</script>